body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}

.left-side,
.right-side {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left-side {
    background-color: #f0f0f0;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

h1 {
    margin-bottom: 20px;
}

input,
button {
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#shortened-url {
    margin-top: 20px;
    font-size: 18px;
    word-break: break-all;
    max-width: 300px;
    text-align: center;
}